<div id="documentation_jsonp_requests">
	<h1>JSONP Requests</h1>
	<p>JSONP is a workaround for loading data from different domains, something that default AJAX requests alone cannot do. JSONP loads the script into the head of the DOM allowing you to access the information as if it were loaded on your own domain, thus bypassing the cross domain issue.</p>

	<p>Below are some examples on ways you can create a JSONP request to the API using jQuery.</p>

	<pre class="pre-scrollable">
$.ajax({
	type: 'GET',
	url: '<%= api.full_url %>buildings',
	dataType: 'jsonp',
	success: function (data) {
		console.dir(data);
	}
});
	</pre>

	<pre class="pre-scrollable">
$.getJSON('<%= api.full_url %>buildings?callback=?', function (data) {
	console.dir(data);
});
	</pre>
</div>