<div id="documentation_string_identifiers">
	<h1>String Identifiers</h1>
	<p>String identifiers are short identifiers for buildings in string format. The table below shows all string identifiers and their representation.</p>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Name</th>
			<th>Reference</th>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>