<div id="documentation_api_resources_buildings_openingtimes">
	<h3>Opening Times</h3>
	<p>This resource returns the opening times for the campus buildings.</p>

	<p class="lead">GET buildings/openingtimes</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/openingtimes</pre>
		<pre class="pre-scrollable" data-example-request="buildings/openingtimes"></pre>
	</div>

	<p class="lead">GET buildings/ID/openingtimes</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/ag/openingtimes</pre>
		<pre class="pre-scrollable" data-example-request="buildings/ag/openingtimes"></pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>day_of_the_week</td>
				<td>String representation of the day of the week.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>opening_time</td>
				<td>The opening time of the building.</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>closing_time</td>
				<td>The closing time of the building.</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>building</td>
				<td>Details of the building.</td>
				<td>Object</td>
			</tr>
		</tbody>
	</table>
</div>