<div id="documentation_api_resources">
	<h1>API Resources</h1>
	<p>This documentation aims to explain how to use the API to enable developers to access some of the core data available at the University of Portsmouth such as the open access area availability, the shared teaching spaces and their timetables, the service status, and the staff directory.</p>
	<br>
	<div class="alert alert-info">Results shown here are not necessarily up to date with current data.</div>

	<% include api_resources/buildings %>
	<% include api_resources/services %>
	<% include api_resources/users %>
</div>