<div id="documentation_getting_started">
	<h1>Getting Started</h1>
	<p class="lead">Please take note when using this API:</p>
	<ul>
		<li>This is a <strong>consumption-only</strong> API - only the HTTP GET method is available on resources.</li>
		<li><strong>No authentication</strong> is required to access this API. All resources are fully open and available.</li>
		<li>If you are going to be regularly using the API, it is recommended that you cache data on your service.</li>
	</ul>
</div>