<div id="documentation_string_identifiers">
	<h1>String Identifiers</h1>
	<p>String identifiers are short identifiers for buildings in string format. The table below shows all string identifiers and their representation.</p>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Name</th>
			<th>Reference</th>
		</thead>
		<tbody>
			<tr>
				<td>Anglesea</td>
				<td><code>ag</code></td>
			</tr>
				<tr><td>Buckingham</td>
				<td><code>bk</code></td>
			</tr>
			<tr>
				<td>Burnaby</td>
				<td><code>bb</code></td>
			</tr>
			<tr>
				<td>Guildhall</td>
				<td><code>gh</code></td>
			</tr>
			<tr>
				<td>King Henry</td>
				<td><code>kh</code></td>
			</tr>
			<tr>
				<td>Langstone</td>
				<td><code>la</code></td>
			</tr>
			<tr>
				<td>Library</td>
				<td><code>ul</code></td>
			</tr>
			<tr>
				<td>Lion Gate</td>
				<td><code>lg</code></td>
			</tr>
			<tr>
				<td>Park</td>
				<td><code>pk</code></td>
			</tr>
			<tr>
				<td>Portland</td>
				<td><code>po</code></td>
			</tr>
			<tr>
				<td>Richmond</td>
				<td><code>rb</code></td>
			</tr>
			<tr>
				<td>Student IT Help Centre</td>
				<td><code>hc</code></td>
			</tr>
		</tbody>
	</table>
</div>