<div id="documentation_api_resources_buildings_labs_timetables">
	<h4>Timetables</h4>
	<p>This resource returns today's timetabling data for the shared teaching spaces or labs in each building.</p>

	<p class="lead">GET buildings/labs/timetables</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/labs/timetables</pre>
		<pre class="pre-scrollable" data-example-request="buildings/labs/timetables">
[
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Richmond",
			"reference": "rb"
		},
		"lab": {
			"short_identifier": "rb105",
			"room_number": "1.05"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Portland",
			"reference": "po"
		},
		"lab": {
			"short_identifier": "po133",
			"room_number": "1.33"
		}
	},
	{
		"start_time": "18:00:00",
		"finish_time": "23:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Library",
			"reference": "ul"
		},
		"lab": {
			"short_identifier": "uloa3",
			"room_number": "OA3"
		}
	},
	{
		"start_time": "07:00:00",
		"finish_time": "09:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Library",
			"reference": "ul"
		},
		"lab": {
			"short_identifier": "uloa3",
			"room_number": "OA3"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Richmond",
			"reference": "rb"
		},
		"lab": {
			"short_identifier": "rb103",
			"room_number": "1.03"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Lion Gate",
			"reference": "lg"
		},
		"lab": {
			"short_identifier": "lg014b",
			"room_number": "0.14b"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Anglesea",
			"reference": "ag"
		},
		"lab": {
			"short_identifier": "ag029",
			"room_number": "0.29"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Lion Gate",
			"reference": "lg"
		},
		"lab": {
			"short_identifier": "lg014a",
			"room_number": "0.14a"
		}
	},
	{
		"start_time": "09:00:00",
		"finish_time": "19:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Portland",
			"reference": "po"
		},
		"lab": {
			"short_identifier": "po133",
			"room_number": "1.33"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Portland",
			"reference": "po"
		},
		"lab": {
			"short_identifier": "po137",
			"room_number": "1.37"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Anglesea",
			"reference": "ag"
		},
		"lab": {
			"short_identifier": "ag001",
			"room_number": "0.01"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "King Henry",
			"reference": "kh"
		},
		"lab": {
			"short_identifier": "kh107",
			"room_number": "1.07"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Richmond",
			"reference": "rb"
		},
		"lab": {
			"short_identifier": "rb104",
			"room_number": "1.04"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Park",
			"reference": "pk"
		},
		"lab": {
			"short_identifier": "pk013",
			"room_number": "0.13"
		}
	},
	{
		"start_time": "09:00:00",
		"finish_time": "19:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Portland",
			"reference": "po"
		},
		"lab": {
			"short_identifier": "po137",
			"room_number": "1.37"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Anglesea",
			"reference": "ag"
		},
		"lab": {
			"short_identifier": "ag002",
			"room_number": "0.02"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Park",
			"reference": "pk"
		},
		"lab": {
			"short_identifier": "pk012",
			"room_number": "0.12"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"building": {
			"name": "Buckingham",
			"reference": "bk"
		},
		"lab": {
			"short_identifier": "bk007",
			"room_number": "0.07"
		}
	}
]
		</pre>
	</div>

	<p class="lead">GET buildings/ID/labs/timetables</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/ag/labs/timetables</pre>
		<pre class="pre-scrollable" data-example-request="buildings/ag/labs/timetables">
[
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"lab": {
			"short_identifier": "ag029",
			"room_number": "0.29"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"lab": {
			"short_identifier": "ag001",
			"room_number": "0.01"
		}
	},
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown",
		"lab": {
			"short_identifier": "ag002",
			"room_number": "0.02"
		}
	}
]
		</pre>
	</div>

	<p class="lead">GET buildings/ID/labs/ID/timetables</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/ag/labs/ag029/timetables</pre>
		<pre class="pre-scrollable" data-example-request="buildings/ag/labs/ag029/timetables">
[
	{
		"start_time": "19:00:00",
		"finish_time": "22:00:00",
		"module_name": "Unknown",
		"module_type": "Unknown"
	}
]
		</pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>start_time</td>
				<td>Start time of the timetabled entry.</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>finish_time</td>
				<td>End time of the timetabled entry.</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>module_name</td>
				<td>Module name for the timetabled entry.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>module_type</td>
				<td>Type of the module being taught in the room.</td>
				<td>String <a class="icon" data-toggle="popover" data-placement="left" data-content="<strong>Examples</strong><ul><li>Lab</li><li>Pract (Practical)</li><li>Lect (Lecture)</li><li>Comp</li><li>Sem (Seminar)</li><li>Work</li></ul>"><i class="fa fa-question-circle fa-lg"></i></a></td>
			</tr>
			<tr>
				<td>building</td>
				<td>Details of the building.</td>
				<td>Object</td>
			</tr>
			<tr>
				<td>lab</td>
				<td>Details of the lab.</td>
				<td>Object</td>
			</tr>
		</tbody>
	</table>
</div>