<div id="documentation_api_resources_buildings">
	<h2>Buildings</h2>
	<p>This resource returns information about all campus buildings.</p>

	<p class="lead">GET buildings</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings</pre>
		<pre class="pre-scrollable" data-example-request="buildings">
[
	{
		"name": "Anglesea",
		"reference": "ag",
		"latitude": "50.797749",
		"longitude": "-1.096585"
	},
	{
		"name": "Buckingham",
		"reference": "bk",
		"latitude": "50.798365",
		"longitude": "-1.098529"
	},
	{
		"name": "Burnaby",
		"reference": "bb",
		"latitude": "50.798136",
		"longitude": "-1.097974"
	},
	{
		"name": "Guildhall",
		"reference": "gh",
		"latitude": "50.796517",
		"longitude": "-1.090803"
	},
	{
		"name": "King Henry",
		"reference": "kh",
		"latitude": "50.797337",
		"longitude": "-1.095287"
	},
	{
		"name": "Langstone",
		"reference": "la",
		"latitude": "50.797351",
		"longitude": "-1.041694"
	},
	{
		"name": "Library",
		"reference": "ul",
		"latitude": "50.793873",
		"longitude": "-1.098178"
	},
	{
		"name": "Lion Gate",
		"reference": "lg",
		"latitude": "50.798956",
		"longitude": "-1.098368"
	},
	{
		"name": "Park",
		"reference": "pk",
		"latitude": "50.797671",
		"longitude": "-1.094111"
	},
	{
		"name": "Portland",
		"reference": "po",
		"latitude": "50.798494",
		"longitude": "-1.099488"
	},
	{
		"name": "Richmond",
		"reference": "rb",
		"latitude": "50.798164",
		"longitude": "-1.099663"
	},
	{
		"name": "Student IT Help Centre",
		"reference": "hc",
		"latitude": "50.794464",
		"longitude": "-1.096572"
	}
]
		</pre>
	</div>

	<p class="lead">GET buildings/ID</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/pk</pre>
		<pre class="pre-scrollable" data-example-request="buildings/pk">
{
	"name": "Park",
	"reference": "pk",
	"latitude": "50.797671",
	"longitude": "-1.094111"
}
		</pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>name</td>
				<td>Name of the building</td>
				<td>String</td>
			<tr>
				<td>reference</td>
				<td>Short reference string of the building</td>
				<td>String</td>
			</tr>
			<tr>
				<td>latitude</td>
				<td>Latitude co-ordinates of the building</td>
				<td>String</td>
			</tr>
			<tr>
				<td>longitude</td>
				<td>Longitude co-ordinates of the building</td>
				<td>String</td>
			</tr>
		</tbody>
	</table>

	<% include buildings/openaccess %>
	<% include buildings/openingtimes %>
	<% include buildings/labs %>
</div>