<div id="documentation_api_resources_services">
	<h2>Service Status</h2>
	<p>This resource returns the current service status problems that are currently affecting the network.</p>

	<p class="lead">GET services</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>services</pre>
		<pre class="pre-scrollable" data-example-request="services">
[
	{
		"name": "Wireless Error",
		"info": "Students have mentioned problems with wireless.",
		"description": "",
		"status": "Service Information",
		"modified_date": "2014-04-03T13:59:54.000Z",
		"type": "Staff",
		"service_manager": "",
		"main_link_name": "Business Systems"
	},
	{
		"name": "Moodle",
		"info": "Moodle will be undergoing planned maintenance and will be temporarily unavailable.",
		"description": "Moodle is the University's approved Virtual Learning Environment.",
		"status": "Service Information",
		"modified_date": "2014-04-03T13:57:47.000Z",
		"type": "Both",
		"service_manager": "",
		"main_link_name": "Virtual Learning Environment (VLE)"
	}
]
		</pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>name</td>
				<td>Name of the affected service.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>info</td>
				<td>A headline briefly describing of the issue affecting the service</td>
				<td>String</td>
			</tr>
			<tr>
				<td>description</td>
				<td>A full, verbose description of the outage. May include HTML entities.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>status</td>
				<td>A value representing the type of issue. </td>
				<td>String <a class="icon" data-toggle="popover" data-placement="left" data-content="<strong>Examples</strong><ul><li>Service Disruption</li><li>Out of Service</li><li>Under Maintenance</li><li>Service Information</li></ul>"><i class="fa fa-question-circle fa-lg"></i></a></td>
			</tr>
			<tr>
				<td>modified_date</td>
				<td>The date that this service was reported as affected, in readable format</td>
				<td>DateTime</td>
			</tr>
			<tr>
				<td>type</td>
				<td>Displays the customer type that was affected by the issue</td>
				<td>String <a class="icon" data-toggle="popover" data-placement="left" data-content="<strong>Examples</strong><ul><li>Staff</li><li>Students</li><li>Both</li></ul>"><i class="fa fa-question-circle fa-lg"></i></a></td>
			</tr>
			<tr>
				<td>service_manager</td>
				<td>The name of the Service Manager responsible for this service.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>main_link_name</td>
				<td>The parent service type this issue falls under.</td>
				<td>String</td>
			</tr>
		</tbody>
	</table>
</div>