<div id="documentation_api_resources_services">
	<h2>Service Status</h2>
	<p>This resource returns the current service status problems that are currently affecting the network.</p>

	<p class="lead">GET services</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>services</pre>
		<pre class="pre-scrollable" data-example-request="services">
[
	{
		"name": "Halls Services (ResNet / Freewire)",
		"info": "There are currently three wireless access points unavailable due to vandalism.  This affects wireless coverage in: Burrell House and Harry Law.\n\n<br><br><br>\n\nAn external change is being made by Virgin Media on Monday 7th April.  Students based on the Langstone Campus will not be able to access the internet during this maintenance.\n\n<br><br>\n\nUsers will not be able to log into their computers and should expect a complete network outage during this maintenance. This outage is scheduled to last four hours between 8am-5pm on the day.",
		"description": "Halls Broadband provision via wired connection",
		"status": "Service Disruption",
		"modified_date": "2014-04-03T15:16:31.000Z",
		"type": "Staff",
		"service_manager": "",
		"main_link_name": "Student Services"
	},
	{
		"name": "Application Jukebox Player",
		"info": "IS will be upgrading our Application Jukebox service in order to make improvements and essential updates. The upgrade will take place in the evening from 6-9pm on Wednesday 9th April. Staff and Students using the service during this period should not be effected by the work, but should aware that the service will be at risk whilst the maintenance is ongoing.",
		"description": "Application Jukebox provides a mechanism to virtualise, deliver and manage applications to a client PC from a centrally administered server",
		"status": "Service Information",
		"modified_date": "2014-04-03T14:55:18.000Z",
		"type": "Both",
		"service_manager": "",
		"main_link_name": "Application Delivery"
	},
	{
		"name": "Student Records",
		"info": "Student Records is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April. \n\nIt will also be unavailable for maintenance for 16th December for the day.\n",
		"description": "<p>Student Records, (known as Jupiter during its project phase) is a strategic business system, covering admissions to graduation. It is used to manage a student's personal and academic details and encompasses areas such as:</p>\n<ul>\n<li>Students' personal details</li>\n<li>Fee related information</li>\n<li>Course information/registration</li>\n<li>Unit information/registration</li>\n<li>Graduation information</li>\n<li>Administration of research students</li>\n</ul>\n<p>Student Records is made up of the following modules:</p>\n<ul>\n<li>Admissions Plus: processing and tracking of all applicants who wish to study at the University, including Clearing, Confirmation and Adjustments.</li>\n<li>Student Records: administration of student related information.</li>\n<li>Units Database (JUNO): information management of Units. JUNO was its project name.</li>\n<li>Unit Web Search: www.port.ac.uk/unitwebsearch a web front end for searching the Units database.</li>\n<li>HESA: data management system. Data extracted from Student Records, to meet institutional statistical requirements for the Higher Education Statistical Agency.</li>\n<li>QUERCUSLIVE (SOLAR): front-end web applications, providing self service functionality to users and customers of Student Records. These functions are in project phase and not yet available.</li>\n<li>Discoverer Reports: end-user, bespoke reporting from Admissions & Student Records.</li>\n<li>Jupiter Reports: complex and statutory reporting, using Oracle reports.</li>\n</ul>\n<p>Student Records also provides information to other University systems via a variety of interfaces, e.g. FIMS, PAMS, Timetabling (CMIS), Campus Cards & Library. In addition, data extracted from Student Records is used to meet many of the institutional statistical requirements such as the Higher Education Statistical Agency (HESA) returns.</p>\n<p>Information Services provides the infrastructure, system support and technical development for the Student Record System, with Academic Registry owning the data content and taking responsibility for the working practices and procedures, functional solutions and its overall development.</p>\n<p>Registry also have two IS Managed Servers (Tripoli and ????) which provide various services to applicants, staff, students and external third parties via http://www.registryhub.port.ac.uk</li>\n IS manage the server infrastructure on which the web page and its web applications reside. Registry own, support and develop the web pages and applications.</p>\n\n<h3>Target user groups</h3>\n<p>Only trained and authorised members of University of Portsmouth staff can access Student Records.</p>\n<p>The Unit Web Search is available for use by anyone via the website http://www.port.ac.uk/unitwebsearch</p>\n<p>When made available QuercusLive (SOLAR) web modules will be accessible by any registered or pre-registered student, and eventually applicants.</p>",
		"status": "Service Information",
		"modified_date": "2014-04-03T13:59:54.000Z",
		"type": "Staff",
		"service_manager": "Julie Mitchell",
		"main_link_name": "Business Systems"
	},
	{
		"name": "Moodle",
		"info": "Moodle will be undergoing planned maintenance and will be temporarily unavailable on Thursday 26th June, after which service will resume as normal.",
		"description": "Moodle is the University’s approved Virtual Learning Environment.  It is implemented through the eLearning Strategy, and is used to enhance learning and teaching throughout the University.  Every taught unit is expected to have a Moodle presence with effect from September 2013, all staff and students will be expected to engage with Moodle, utilising its tools wherever possible.<br><br>\nhttp://moodle.port.ac.uk",
		"status": "Service Information",
		"modified_date": "2014-04-03T13:57:47.000Z",
		"type": "Both",
		"service_manager": "Stuart Graves",
		"main_link_name": "Virtual Learning Environment (VLE)"
	},
	{
		"name": "University Cards",
		"info": "During the Easter Break, the Student IT Help Centre will have the reduced opening hours of 2:30pm to 3.30pm Tuesday and Thursday. This is for University Card creation only. Normal opening hours will resume at the start of term.",
		"description": "<p>This service provides a University Card to every registered student or member of staff. This includes personal photo identification, building access & their library account etc. This service also provides a wide range of membership or access cards to various departments across the University. \n<br><br>\nStudent FAQs http://ithelp.port.ac.uk/questions/110>br><br>\nStaff http://ithelp.port.ac.uk/questions/225</p> ",
		"status": "Service Information",
		"modified_date": "2014-04-01T09:44:05.000Z",
		"type": "Both",
		"service_manager": "Steve Perry",
		"main_link_name": "Security"
	},
	{
		"name": "Student IT Help Centre",
		"info": "During the Easter Break, the Student IT Help Centre will have the reduced opening hours of 2:30pm to 3.30pm Tuesday and Thursday.\n\nThis is for University Card creation only.\n\nNormal opening hours will resume at the start of term.",
		"description": null,
		"status": "Service Information",
		"modified_date": "2014-04-01T09:42:48.000Z",
		"type": "Both",
		"service_manager": "Craig Browning",
		"main_link_name": "Student Services"
	},
	{
		"name": "Digital Signage Screens (TriplePlay)",
		"info": "This service will be unavailable on Monday 7th April for essential maintenance.",
		"description": "",
		"status": "Service Information",
		"modified_date": "2014-04-01T08:37:28.000Z",
		"type": "Both",
		"service_manager": "Kevin Martin",
		"main_link_name": "Managed Services"
	},
	{
		"name": "Dental Academy (PMS)",
		"info": "This service will be unavailable on Wednesday 23rd April for annual disaster recovery testing.",
		"description": "<p>Information Services provides the IT infrastructure, support and development for SPCDs Practice Management System and related hardware and software.</p>\n<p>The service is required to provide a high level of availability and resilience, to meet the clinical, teaching and management needs of the School of Professionals Complimentary to Dentistry and their client groups.</p>\n<p>The SPCD technical systems environment includes:</p>\n<ul>\n<li>Kodak R4 Clinical +</li>\n<li>KDIS</li>\n<li>Digora Optime scanners</li>\n<li>OMG - 180 degree xray service</li>\n</ul>",
		"status": "Service Information",
		"modified_date": "2014-04-01T08:34:03.000Z",
		"type": "Staff",
		"service_manager": "Matthew Green",
		"main_link_name": "Business Systems"
	},
	{
		"name": "MyPort",
		"info": "MyPort is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April.\nIt is advised to subscribe to the iCal feed via MyPort so timetables can be viewed while MyPort is unavailable. Please visit the webpage below for instructions on how to set this up: http://ithelp.port.ac.uk/questions/273.\n",
		"description": "http://www.Myport.ac.uk is the student portal at the University of Portsmouth. MyPort contains student Google email and services as well as bringing together, news & events, plus all the services provided in your portal, timetables, course information and marks etc.\n<br><br>\nIf you want to see updates and new features available within your Myport Student Portal we have created this new Google + Community for you: www.port.ac.uk/student-google-updates",
		"status": "Service Information",
		"modified_date": "2014-03-24T15:54:21.000Z",
		"type": "Students",
		"service_manager": "Craig Browning",
		"main_link_name": "Portals"
	},
	{
		"name": "Units Database (JUNO)",
		"info": "Units Database (JUNO) is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April.",
		"description": "<p>The Units Database is a corporate application held within our Student Records system that provides information management of Units. It was known as JUNO during its project phase.</p>",
		"status": "Service Information",
		"modified_date": "2014-03-24T15:52:36.000Z",
		"type": "Staff",
		"service_manager": "Julie Mitchell",
		"main_link_name": "Business Systems"
	},
	{
		"name": "Staff Portal",
		"info": "Staff Portal is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April.",
		"description": "<p>The Staff Portal is an online resource, providing academic users with information critical to their teaching. It sources data from multiple University corporate systems to report what an individual academic is teaching, whom they are teaching and when and where they are teaching.</p>\n<p>The Staff Portal can be accessed here:  http://www.port.ac.uk/staffportal </p>\n<p>More information regarding the Staff Portal: http://www.is.port.ac.uk/staff/ittraining/staffportal /<p>",
		"status": "Service Information",
		"modified_date": "2014-03-24T15:52:05.000Z",
		"type": "Staff",
		"service_manager": "Stuart Graves",
		"main_link_name": "Portals"
	},
	{
		"name": "Student Housing (PAMS)",
		"info": "Student Housing (PAMS) is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April.",
		"description": null,
		"status": "Service Information",
		"modified_date": "2014-03-24T15:51:43.000Z",
		"type": "Staff",
		"service_manager": "Stuart Graves",
		"main_link_name": "Business Systems"
	},
	{
		"name": "Online Registration",
		"info": "Online Registration is scheduled for maintenance and will be unavailable from start of business Tuesday 8th April and into Wednesday 9th April.",
		"description": "",
		"status": "Service Information",
		"modified_date": "2014-03-24T15:50:39.000Z",
		"type": "Both",
		"service_manager": "Julie Mitchell",
		"main_link_name": "Web / Online"
	}
]
		</pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>name</td>
				<td>Name of the affected service.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>info</td>
				<td>A headline briefly describing of the issue affecting the service</td>
				<td>String</td>
			</tr>
			<tr>
				<td>description</td>
				<td>A full, verbose description of the outage. May include HTML entities.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>status</td>
				<td>A value representing the type of issue. </td>
				<td>String <a class="icon" data-toggle="popover" data-placement="left" data-content="<strong>Examples</strong><ul><li>Service Disruption</li><li>Out of Service</li><li>Under Maintenance</li><li>Service Information</li></ul>"><i class="fa fa-question-circle fa-lg"></i></a></td>
			</tr>
			<tr>
				<td>modified_date</td>
				<td>The date that this service was reported as affected, in readable format</td>
				<td>DateTime</td>
			</tr>
			<tr>
				<td>type</td>
				<td>Displays the customer type that was affected by the issue</td>
				<td>String <a class="icon" data-toggle="popover" data-placement="left" data-content="<strong>Examples</strong><ul><li>Staff</li><li>Students</li><li>Both</li></ul>"><i class="fa fa-question-circle fa-lg"></i></a></td>
			</tr>
			<tr>
				<td>service_manager</td>
				<td>The name of the Service Manager responsible for this service.</td>
				<td>String</td>
			</tr>
			<tr>
				<td>main_link_name</td>
				<td>The parent service type this issue falls under.</td>
				<td>String</td>
			</tr>
		</tbody>
	</table>
</div>