<% include includes/header %>

	<article>
		<div class="container">
			<h1>Apps</h1>

			<div class="col-md-3">
				<p class="lead">New App</p>
				<p class="text-justify">By creating a new app, you can share specific data with anyone who uses your application, while keeping sensitive information about your account private.</p><br>
				<form role="form" method="POST">
					<button type="submit" class="btn btn-danger"><i class="fa fa-plus"></i> New App</button>
				</form>
			</div>

			<div class="col-md-9">
				<p class="lead">Existing Apps</p>
				<% for (var i in apps) { %>
				<div class="app" data-id="<%= apps[i].id %>">
					<table class="table">
						<tr>
							<th>Access Token</th>
							<td><%= apps[i].access_token %></td>
						</tr>
						<tr>
							<th>Request Origin</th>
							<td><%= apps[i].request_origin %></td>
						</tr>
					</table>
					<a href="#" class="btn btn-default" data-action="edit"><i class="fa fa-edit"></i> Edit</a>
					<a href="#" class="btn btn-default" data-action="download_json"><i class="fa fa-download"></i> Download JSON</a>
					<a href="#" class="btn btn-warning" data-action="delete"><i class="fa fa-times-circle"></i> Delete</a>
				</div>
				<% } %>
			</div>
		</div>
	</article>

<% include includes/footer %>