<% include includes/header %>

	<article id="intro">
		<div class="container">
			<h2 class="text-center">Error</h2>
		</div>
	</article>

	<article>
		<div class="container">
			Something went wrong.
		</div>
	</article>

<% include includes/footer %>