<% include includes/header %>

	<script src="<%= locals.api.folder %>/assets/js/documentation.js"></script>

	<article id="intro">
		<div class="container">
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
					</span>
					<h4><strong>What is this?</strong></h4>
				</div>
					<p>This is a full RESTful API linked to multiple extensive databases around the University of Portsmouth that displays all kinds of data to allow developers to interact with applications.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
					</span>
					<h4>How can I start using the API?</h4>
				</div>
					<p>We have an awesome <a href="/documentation">documentation</a> on how to use this API. It takes minutes to get started. This API will always be publicly available and will never require any extensive setup process to consume.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
					</span>
					<h4>I want to help.</h4>
				</div>
					<p>Think you can help? Contact us at <a href="mailto:is-student-service-delivery-group@port.ac.uk">is-student-service-delivery-group@port.ac.uk</a> with the subject line "API Support" and let us know how you can help.</p>
			</div>
		</div>
	</article>
	
	<article id="documentation" class="no-padding-top">
		<div class="container">
			<div class="col-md-3 pull-right">
				<div id="doc_nav">
					<h3>Navigation</h3>
					<ul class="nav">
						<li class="active"><a href="#documentation_getting_started" class="scroll">Getting Started</a></li>
						<li>
							<a href="#documentation_api_resources" class="scroll">API Resources</a>
							<ul class="nav">
								<li>
									<a href="#documentation_api_resources_buildings" class="scroll">Buildings</a>
									<ul class="nav">
										<li><a href="#documentation_api_resources_buildings_openaccess" class="scroll">Open Access Area Availability</a></li>
										<li><a href="#documentation_api_resources_buildings_openingtimes" class="scroll">Opening Times</a></li>
										<li>
											<a href="#documentation_api_resources_buildings_labs" class="scroll">Shared Teaching Spaces</a>
											<ul class="nav">
												<li><a href="#documentation_api_resources_buildings_labs_timetables" class="scroll">Timetables</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#documentation_api_resources_services" class="scroll">Service Status</a></li>
								<li><a href="#documentation_api_resources_users" class="scroll">Staff Directory</a></li>
							</ul>
						</li>
						<li><a href="#documentation_jsonp_requests" class="scroll">JSONP Requests</a></li>
						<li><a href="#documentation_string_identifiers" class="scroll">String Identifiers</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 pull-left">
				<% include documentation/getting_started %>
				<% include documentation/api_resources %>
				<% include documentation/jsonp_requests %>
				<% include documentation/string_identifiers %>
			</div>
		</div>
	</article>

<% include includes/footer %>