<% include includes/header %>

	<% include includes/nav %>

	<section id="intro">
		<div class="container">
			<div class="col-md-4">
				<div class="text-center">
					<i class="fa fa-question-circle fa-5x"></i>
					<h4><strong>What is this?</strong></h4>
				</div>
					<p>This is a full RESTful API linked to multiple extensive databases around the University of Portsmouth that displays all kinds of data to allow developers to interact with applications.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<i class="fa fa-cogs fa-5x"></i>
					<h4>How can I start using the API?</h4>
				</div>
					<p>We have an awesome documentation on how to use this API. It takes minutes to get started. This API will always be publicly available and will never require any extensive setup process to consume.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<i class="fa fa-thumbs-o-up fa-5x"></i>
					<h4>I want to help.</h4>
				</div>
					<p>Contact us at <a href="mailto:is-student-service-delivery-group@port.ac.uk">is-student-service-delivery-group@port.ac.uk</a> with the subject line "API Support" and let us know how you can help.</p>
			</div>
		</div>
	</section>

	<article>
		<div class="container">
			Homepage
		</div>
	</article>

<% include includes/footer %>