<% include includes/header %>

	<script src="/assets/js/documentation.js"></script>

	<article id="intro">
		<div class="container">
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
					</span>
					<h4><strong>What is this?</strong></h4>
				</div>
					<p>This is an interface for communicating with applications and databases from the University of Portsmouth. The data returned can be used by developers to build their own applications.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
					</span>
					<h4>How can I start using the API?</h4>
				</div>
					<p>We have an awesome <a href="/documentation">documentation</a> on how to use this API. This service will always be publicly available to all students and staff. It literally takes minutes to get started.</p>
			</div>
			<div class="col-md-4">
				<div class="text-center">
					<span class="fa-stack fa-4x">
						<i class="fa fa-square fa-stack-2x"></i>
						<i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
					</span>
					<h4>I want to help.</h4>
				</div>
					<p>Do you have any ideas or suggestions? Even better, do you have any data that you want to make available on the API? Contact us <a href="mailto:is-student-service-delivery-group@port.ac.uk">here</a> and let us know how you can help.</p>
			</div>
		</div>
	</article>

	<article>
		<div class="container">
			<div class="col-md-6 text-justify">
				<h2 class="color-uop"><strong>Build your own apps</strong></h2>
				<p>The Student Service Delivery API allows anyone to build their own applications using data from the University of Portsmouth databases. The API currently features up to 13 methods of accessing various datasets across the University's network.</p>
				<p>By using the Student Service Delivery API, you can now make individual applications communicate or interface with each other, enhancing their features and adding more functionality.</p>
			</div>
			<div class="col-md-6">
				<div class="img">
					<img src="/assets/img/ithelp.png">
					<legend><a href="http://ithelp.port.ac.uk" target="_blank">IT Help</a> shown using the API as its datasource.</legend>
				</div>
			</div>
		</div>
	</article>

	<article>
		<div class="container">
			<div class="col-md-6">
				<div class="img">
					<img src="/assets/img/kiosk.png">
					<legend>Library information kiosk shown using the API as its datasource.</legend>
				</div>
			</div>
			<div class="col-md-6 text-justify">
				<h2 class="color-uop"><strong>Write apps in any language</strong></h2>
				<p>Writing an app in a language other than JavaScript or PHP? As long as the language you are using can parse JSON, it's fully supported by the API!</p>
				<p>Just load up the data you need, parse it using JSON, and go through it to achieve your desired result.</p>
			</div>
		</div>
	</article>

<% include includes/footer %>