doctype html
html(lang='en')
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title #{title}
	link(rel='icon', href='/assets/img/favicon.ico', type='image/x-icon')
	link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans')
	link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
	link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
	link(rel='stylesheet', href='/assets/css/styles.css')
	body
		header
			.container
				a(href='/')
					img(src='/assets/img/logo.png', width='250')
					h1 #{title}
		
		block content
		
		footer
			p
			| &copy; 2014 University of Portsmouth
			br
			| Last updated: #{version_date_readable}
		script(src='/assets/js/jquery.min.js')
		script(src='/assets/js/bootstrap.min.js')
		script(src='/assets/js/scripts.js')