<% include includes/header %>

	<article class="no-padding-top">
		<div class="container">
			<h1><span class="fa fa-sign-in"></span> Login</h1><br>
			<div class="alert alert-danger">Hosted domain must be port.ac.uk or myport.ac.uk. Please login with your @port.ac.uk or @myport.ac.uk account.</div>
			<a href="/auth/google">Click here</a> to try again.
		</div>
	</article>

<% include includes/footer %>