/**
 * GENERAL
 */

.example-request pre.request_header {
	margin: 0;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
}

.example-request pre[data-example-request] {
	border-radius: 0 0 4px 4px;
}

.example-request + table {
	margin-top: 2em;
}


/**
 * DOCUMENTATION
 */

#documentation h1,
#documentation h2,
#documentation h3 {
	margin: 0;
	padding: 1em 0;
}

#documentation h2 {
	padding: 0.8em 0;
}

#documentation h4 {
	padding-top: 20px;
}

#documentation .col-md-9 > div {
	margin-top: 20px;
	padding-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #eee;
}

#documentation .col-md-9 > div:first-child {
	margin-top: 0;
}

#documentation .col-md-9 > div:last-child {
	border-bottom: none;
}

#documentation a.icon {
	margin-left: 10px;
	color: #8361C9;
}

#documentation a.icon:hover {
	color: #6D46BF;
}


/**
 * DOCUMENTATION NAVIGATION
 */

#doc_nav h3 {
	margin-top: 0;
}

#doc_nav.affix {
	position: fixed;
	top: 0px;
	margin: 0;
}

#doc_nav .nav > li > a {
	border-left: 5px solid transparent;
	padding: 0.8em;
	font-size: 13px;
}

#doc_nav .nav > li > a:hover,
#doc_nav .nav > li > a:focus {
	background-color: #8361C9;
	color: #f4f4f4;
}

#doc_nav .nav > li.active > a,
#doc_nav .nav > li.active > a:hover,
#doc_nav .nav > li.active > a:focus {
	border-left: 5px solid #8361C9;
	background-color: #f8f8f8;
	color: #3c3c3c;
}

#doc_nav li > ul {
	margin-left: 2em;
}


/**
 * MEDIA QUERIES
 */

@media (max-width: 992px) {
	#documentation .col-md-9 {
		width: 100%!important;
	}

	#doc_nav {
		display: none;
	}
}

@media (max-width: 1200px) {
	#doc_nav.affix {
		position: fixed;
		top: 0px;
		margin: 0;
		width: 215px;
	}
}