/*
 * FONTS
 */

@font-face {
	font-family: Adelle_Reg;
	src: url('../fonts/Adelle_Reg.otf');
}


/**
 * GLOBAL
 */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 135px;
	color: #3c3c3c;
}

p {
	line-height: 1.8;
}

html, html a {
	-webkit-font-smoothing: antialiased!important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

* {
	outline: 0!important;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #59379E;
}

a i {
	margin-right: 3px;
}

a:hover,
a:focus {
	color: #58369E;
}

.lead {
	padding-top: 20px;
	font-size: 18px;
}

[data-toggle=popover] {
	cursor: pointer;
}


/**
 * HEADER
 */

header {
	padding: 3em 0 3.3em 0;
	background: #59379E;
	border-bottom: 2em solid #523294;
}

header a {
	color: #f4f4f4!important;
}

header h1 a {
	text-decoration: none;
	float: left;
	font-family: 'Adelle_Reg', sans-serif;
	text-decoration: none!important;
}

header .col-md-3 img,
header .col-md-3 .user {
	margin-top: 8px;
}

header .col-md-3 img {
	float: right;
	display: inline-block;
	margin-left: 1em;
}

header .col-md-3 .user {
	text-align: right;
}

header .col-md-3 .user a {
	display: block;
}

header .btn-danger {
	margin: 0 0 0 auto;
	display: block;
	width: 80px;
}



/**
 * NAVIGATION BAR
 */

.navbar-inverse {
	margin: 0;
	background: #444;
	border-radius: 0;
	border: none;
	padding: 5px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #5c5c5c;
}


/**
 * ARTICLE
 */

article {
	padding: 2.5em 0;
}

article.no-padding-top {
	padding-top: 0;
}


/**
 * FOOTER
 */

footer {
	margin-top: 2em;
	padding: 2.5em 0 2em 0;
	color: #3c3c3c;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
}

footer a {
	color: #59379E;
}


/**
 * MEDIA QUERIES
 */

@media (max-width: 560px) {
	header h1 {
		font-size: 20px;
		margin-bottom: 0;
	}

}

@media (max-width: 992px) {
	header {
		padding: 1em 0;
	}
	
	header h1 a {
		display: block;
		width: 100%;
		text-align: center;
	}

	header .user {
		padding-top: 1em;
		text-align: center!important;
	}

	header .btn-danger {
		margin: 0 auto;
	}

	header .col-md-3 {
		clear: both;
	}

	header .col-md-3 img,
	header .col-md-3 .user {
		margin-top: 0;
	}

	header .col-md-3 img {
		float: none;
		display: block;
		margin: 0 auto;
		padding-top: 1em;
	}
}