/*
 * FONTS
 */

@font-face {
	font-family: Adelle_Reg;
	src: url('../fonts/Adelle_Reg.otf');
}


/**
 * GLOBAL
 */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 145px;
	color: #3c3c3c;
}

p {
	line-height: 1.8;
}

* {
	outline: 0!important;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #59379E;
}

a i {
	margin-right: 3px;
}

a:hover,
a:focus {
	color: #58369E;
}

.lead {
	padding-top: 20px;
	font-size: 18px;
}

[data-toggle=popover] {
	cursor: pointer;
}

.btn,
.alert,
.form-control {
	border-radius: 0;
}

.color-uop {
	color: #59379E;
}

.bg-uop {
	background-color: #F1ECF9;
}

.btn-uop {
	color: #fff;
	background-color: #59379E;
	border-color: #523294;
}

.btn-uop:hover,
.btn-uop:focus,
.btn-uop:active,
.btn-uop.active,
.open .dropdown-toggle.btn-uop {
	color: #fff;
	background-color: #523294;
	border-color: #59379E;
}


/**
 * NAVIGATION BAR
 */

.navbar-inverse {
	margin: 0;
	background: #444;
	border-radius: 0;
	border: none;
	min-height: 0;
}

.navbar-inverse .navbar-nav > li > a {
	padding: 12px 20px;
	color: #ededed;
	/* border-left: 2px solid transparent;
	border-right: 2px solid transparent; */
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #653FB4;
	/* border-left: 2px solid #ededed;
	border-right: 2px solid #ededed; */
}


/**
 * HEADER
 */

header {
	padding: 4em 0 5em 0;
	background: #653FB4;
	color: #f4f4f4;
}

header a:not(.btn) {
	color: #f4f4f4!important;
}

header h1 a {
	text-decoration: none;
	float: left;
	font-family: 'Adelle_Reg', sans-serif;
	text-decoration: none!important;
}

header .col-md-3 img,
header .col-md-3 .user {
	margin-top: 8px;
}

header .col-md-3 img {
	float: right;
	display: inline-block;
	margin-left: 1em;
}

header .col-md-3 .user {
	text-align: right;
}

header .col-md-3 .user a {
	display: block;
}

header .btn-danger {
	margin: 0 0 0 auto;
	display: block;
	width: 80px;
}


/**
 * INTRO
 */

#intro {
	background: url('../img/intro.png');
	color: #444;
	border-bottom: 1px solid #e3e3e3;
}

#intro p {
	line-height: 1.6;
	text-align: justify;
}

#intro i {
	margin-bottom: 8px;
}

#intro h2 {
	margin: 0;
}


/**
 * ARTICLE
 */

article {
	padding: 2.5em 0;
}

article.no-padding-top {
	padding-top: 0;
}


/**
 * GENERAL
 */

.example-request pre.request_header {
	margin: 0;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
}

.example-request pre[data-example-request] {
	border-radius: 0 0 4px 4px;
}

.example-request + table {
	margin-top: 2em;
}


/**
 * DOCUMENTATION
 */

#documentation h1,
#documentation h2,
#documentation h3 {
	margin: 0;
	padding: 1em 0;
}

#documentation h2 {
	padding: 0.8em 0;
}

#documentation h4 {
	padding-top: 20px;
}

#documentation .col-md-9 > div {
	margin-top: 20px;
	padding-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #eee;
}

#documentation .col-md-9 > div:first-child {
	margin-top: 0;
}

#documentation .col-md-9 > div:last-child {
	border-bottom: none;
}

#documentation a.icon {
	margin-left: 10px;
	color: #59379E;
}

#documentation a.icon:hover {
	color: #6D46BF;
}

#documentation_getting_started {
	background: #F3F0FB;
	border: 5px solid #e3e3e3!important;
	padding: 0 2em 2em 2em;
	margin-top: 2em!important;
}


/**
 * DOCUMENTATION NAVIGATION
 */

#doc_nav h3 {
	margin-top: 0;
}

#doc_nav.affix {
	position: fixed;
	top: 0px;
	margin: 0;
}

#doc_nav .nav > li > a {
	border-left: 5px solid transparent;
	padding: 0.8em;
	font-size: 13px;
	color: #3c3c3c;
}

#doc_nav .nav > li > a:hover,
#doc_nav .nav > li > a:focus {
	background-color: #59379E;
	color: #f4f4f4;
}

#doc_nav .nav > li.active > a,
#doc_nav .nav > li.active > a:hover,
#doc_nav .nav > li.active > a:focus {
	border-left: 5px solid #59379E;
	background-color: #f8f8f8;
	color: #3c3c3c;
}

#doc_nav li > ul {
	margin-left: 2em;
}


/**
 * APPS
 */

#apps .no-apps-found {
	border: 1px solid #e5e5e5;
	padding: 1em;
}

.app {
	padding: 2em 0;
	border-bottom: 1px solid #e5e5e5;
}

.app:first-of-type { padding-top: 0!important; }
.app:last-of-type { border-bottom: none; padding-bottom: 0; }

.app .table > thead > tr > th,
.app .table > tbody > tr > th,
.app .table > tfoot > tr > th,
.app .table > thead > tr > td,
.app .table > tbody > tr > td,
.app .table > tfoot > tr > td {
	border-top: none;
}

.app table th {
	background: #f8f8f8;
	width: 30%;
}

.app .btn {
	margin-right: 5px;
}

.app .table {
	margin-bottom: 1em;
}

code {
	white-space: normal;
}


/**
 * FOOTER
 */

footer {
	margin-top: 2em;
	padding: 2.5em 0 2em 0;
	color: #3c3c3c;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 145px;
}

footer a {
	color: #59379E;
}

footer img {
	max-width: 100%;
}


/**
 * MEDIA QUERIES
 */

@media (max-width: 560px) {
	body {
		margin-bottom: 210px;
	}

	header h1 {
		font-size: 20px;
		margin-bottom: 0;
	}

	footer {
		height: 210px;
	}

	footer .pull-right,
	footer .pull-left {
		float: none!important;
	}

	footer .pull-right {
		text-align: center;
		margin-top: 0;
	}

	footer .pull-left {
		display: block;
		margin: 15px auto;
	}

}

@media (max-width: 992px) {
	#documentation .col-md-9 {
		width: 100%!important;
	}

	#doc_nav {
		display: none;
	}

	#intro .col-md-4:not(:nth-child(3)) {
		margin-bottom: 2.5em;
	}

	header {
		padding: 1em 0;
	}
	
	header h1 a {
		display: block;
		width: 100%;
		text-align: center;
	}

	header .user {
		padding-top: 1em;
		text-align: center!important;
	}

	header .btn-danger {
		margin: 0 auto;
	}

	header .col-md-3 {
		clear: both;
	}

	header .col-md-3 img,
	header .col-md-3 .user {
		margin-top: 0;
	}

	header .col-md-3 img {
		float: none;
		display: block;
		margin: 0 auto;
		padding-top: 1em;
	}
}

@media (max-width: 1200px) {
	#doc_nav.affix {
		position: fixed;
		top: 0px;
		margin: 0;
		width: 215px;
	}
}

@media (max-width: 1455px) {
	.github-ribbon {
		display: none;
	}
}