<div id="documentation_api_resources_buildings_openaccess">
	<h3>Open Access Area Availability</h3>
	<p>This resource returns the computer availability of buildings that are equipped with Open Access machines.</p>

	<p class="lead">GET buildings/openaccess</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/openaccess</pre>
		<pre class="pre-scrollable" data-example-request="buildings/openaccess"></pre>
	</div>

	<p class="lead">GET buildings/ID/openaccess</p>
	<div class="example-request">
		<pre class="request_header">GET <%= api.full_url %>buildings/pk/openaccess</pre>
		<pre class="pre-scrollable" data-example-request="buildings/pk/openaccess"></pre>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field Name</th>
				<th>Description</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>open</td>
				<td>Whether the building is open or closed.</td>
				<td>Boolean</td>
			</tr>
			<tr>
				<td>in_use</td>
				<td>The amount of PCs currently being used.</td>
				<td>Numeric</td>
			</tr>
			<tr>
				<td>total</td>
				<td>The amount of PCS in total for that area.</td>
				<td>Numeric</td>
			</tr>
			<tr>
				<td>building</td>
				<td>Details of the building.</td>
				<td>Object</td>
			</tr>
		</tbody>
	</table>
</div>