		<footer>
			<div class="container">
				<img src="<%= api.public %>/assets/img/is.png" class="pull-left">
				<p class="pull-right">&copy; 2014 University of Portsmouth<br>
				Last updated: <%= version.date_readable %></p>
			</div>
		</footer>
	</body>
</html>